* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  /* Hero section 1 start here  */
}
#main-section {
 background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.747) , rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.726) ),url(./img/gilgit-baltistan.jpg);
 
  background-size: cover;
  color: white;
  padding-bottom: 10%;
}
.container{

max-width: 1100px;
margin-left: 1rem;
margin-right: 1rem;
margin: 0 auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
 padding-top: 2%;

}
.nav-bar li {

  list-style: none;
  display: inline;
  margin: 20px;
}

.nav-bar ul{
    margin-left: 19%;
  
    
}
.logo{
  margin-left: 5%;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
 
}
.profile-img{
background-size: cover;

background-image: url(./img/middle.jpg);
width: 12%;
height: 20vh;
border-radius: 50%;
margin-top: 10%;
margin-left: 43%;
background-position: center;
}
.profile-text{
    text-align: center;
    font-size: 25px;
}

.profile-text h1 {
  text-align: center;
  color: orangered;
  margin-top: 20px;
  margin-bottom : 20px;
  font-family: "font-bold";
}
.hadding p{
  text-align: center;
  color: white;
}
@media screen and (max-width: 576px) {
  
  .container{
    padding: 0% 7%;

  }.nav-bar li {
    display: block;
  }
  .nav-bar {
    display: block;
    justify-content: start;
   
  }
  .nav-bar ul{
    margin-left:0%;
}
  .logo {
    margin-left: 5%;
  }

  .hadding h1 {
    margin-left: 20%;
  }
  .hadding h2 {
    margin-left: 10%;
  }
  .profile-img{
    width: 30%;
    margin: 0% auto;
   
  }
}

@media screen and (max-width: 750px) {

  .nav-bar {
    display: block;
    justify-content: start;
    
  }
  .nav-bar ul{
    margin-left:0%;
    text-align: center;  
}
  .nav-bar li a:hover{
   color: orangered;
}
.nav-bar li{
  display: block;
  }
}
@media  (max-width:600) {
  .profile-img{
  
    width: 100px;
    height: 10vh;
  
    }
}

 /* Hero section 1 ending here  */
 
 /* Hero section 2 start here  */
 
 #Header {
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
  height: 100vh;
 
}
.about-div {
  display: flex; 
margin-left: 10%;
}
.about-manu {
  height: 70vh;
  padding: 3%;
}
.about-item{
  margin-top: 2.5%;
  line-height: 30px;
}
.about-manu span {
  border-bottom: 2px solid orangered;
 
}
.discover {
  margin-top: 5%;
   width: 80%; 
  height: 65vh; 
  background-image: url(./img/Capture\ img.PNG);
  background-size: 100% 100%;
}
.intro {
  display: flex;
  justify-content: space-between;
  border: 3px solid brown;
  margin-top: 2%;
  width: 70%;
  padding: 2%;
  line-height: 25px;
  overflow: hidden;
  
}
.intro2 {
margin-left: 10%;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin-top: 1%;
  padding: 2.5%;
  width: 20%;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 8px;
}
/* ==========Header================ */
@media screen and (max-width:1100px) {
  #Header{
    height: 100vh;  
  }
  .intro {
    width: 70%;
  } 
}
@media screen and (max-width:770px) {
  #Header{
    height: 170vh; 
  }
  .intro {
    flex-direction: column;
    border: 3px solid brown;
    width: 90%;
  }
  .about-div {
    flex-direction: column;
  }
  .intro2 {
    margin-left: 0%; 
  }
   .btn {
       padding: 3%;
        width: 30%;
        background-color: orangered;
        color: white;
      } 
 }
/* Hero section 2 ending here  */

/* Hero section 3 start here  */


#grid{
  padding:10%;
  background-color: rgba(0, 0, 0, 0.808);
}
.grid{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows:auto 2fr;
  gap: 20px;

}
.item1{
  border: 2px solid rgba(255, 68, 0, 0.884);
  border-radius: 10px ; 
  padding: 20px;
  color: aliceblue;
  
}
.grid h1{
  margin: 10px 0px ;
}
.grid i{
  font-size: 60px;
  color: orangered;
}
.whatido{
  padding-bottom: 3%;
}


@media  (max-width:768px){
  .grid{
    
    grid-template-columns:  auto auto;
   
  }
  
}
@media  (max-width:576px){
  .grid{
    
    grid-template-columns: auto;
   
  }
  
}
/* Hero section 3 ending here  */


/* Hero section 4 start here  */
#contact{
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.623) , rgba(0, 0, 0, 0.623) ), url(./img/andre-benz-cXU6tNxhub0-unsplash.jpg);
  background-size: cover;
background-color: yellowgreen;
  padding: 5%;
  color: white;
}
.contact-us{
  padding: 5%;
  text-align: center;

}
.contact-div{
  display: flex;
  justify-content: space-around;
  
}
.contact-div1{
  width: 30%;
  height: 100%;
  background-color:transparent;
}
.contact-div2{
  padding: 2%;
  width: 40%;
  height: 50%;
  color: black;
  background-color:rgba(255, 255, 255, 0.932);
}
.contact-div2 input{
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-size: 15px;
  width: 50%;
  line-height: 70px;
  
}
.contact-div1{
  flex-direction: column;
  line-height: 30px;
  
}
.contact-div1 i{
  font-size: 25px;
  color: black;
  width: 8%;
  text-align: center;
  padding: 2%;
  border-radius: 50%;
  background-color: rgb(236, 231, 224);
  }
  
  .btns {
    margin-top: 5%;
    padding: 3%;
    width: 30%;
    border: none;
    font-size: 19px;
    background-color: rgba(0, 0, 255, 0.767);
    color: white;
    
  }
  @media screen and (max-width: 576px){
 
 
    .contact-div{
      padding: 0 7%;
      display: block;
    }
    .contact-div1{
      width: 80%;
      height: 60%;
    }
    .contact-div2{
    
      width: 80%;
      background-color:rgba(255, 255, 255, 0.932);
    }
    .contact-div2 input{
      font-size: 15px;
      line-height: 60px;
    }
    /* .contact-div2 hr{
    width: 85%;
    background-color: black;
  } */
    .contact-div1 i{
      font-size: 20px;
      color: black;
      width: 5%;
      text-align: center;
      padding: 4%;
      }
    .contact-div1{
      flex-direction: column;
      line-height: 30px;
    } 
    .contact-div1{
      flex-direction: column;
      line-height: 30px;
      
    } 
    .btns{
      font-size: 15px;
      width: 30% ;
    }    
  }
    /* Hero section 4 ending here  */